body {
    font-family: "Karla";
    margin: 0px;
    background-color: white;
}

.header--container{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 29px;
    height: 65px;
    background-color: #A626D3;
    background-image: linear-gradient(90deg, #672280 1.18%,#A626D3 100%);
}

.header--logo{
    height: 26.22px;
    width: 33.31px;
}

.header--title{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 6.69px;
    letter-spacing: -1px;
}


.meme--inputs-container{
    display: flex;
    align-items: center;
    width: 88vw;
    margin: 28px 0 0 37px;
}

.meme--inputs-1{
    width: 48%
}

.meme--inputs-1-text{
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0px;
}

.meme--inputs-1-input{
    border-radius: 4.91px;
    border: 1px solid #D1D5DB;
    height: 34.74px;
    width: 100%;
    margin: 3.27px 0 0 0;
    font-family: "Karla";
    font-size: 0.875rem;
    text-indent: 5px;
}

.meme--inputs-2{
    margin: auto;
    width: 48%
}

.meme--inputs-2-text{
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0px;
}

.meme--inputs-2-input{
    border-radius: 4.91px;
    border: 1px solid #D1D5DB;
    height: 34.74px;
    width: 100%;
    margin: 3.27px 0 0 0;
    font-family: "Karla";
    font-size: 0.875rem;
    text-indent: 5px;
}

.meme--submit-button{
    margin: 15px 0 0 37px;
    height: 40px;
    width: 88vw;
    background-image: linear-gradient(90deg, #672280 1.18%,#A626D3 100%);
    border-radius: 5px;
    border: none;
    font-family: "Karla";
    color: white;
    cursor: pointer;
}

.meme--img{
    margin: 32px 0 0 37px;
    width: 88vw;
}